:root {
    --bg-color: #181363;
  --bg-color-dark: #181363;
  --bg-light:#FF7F00;
  --bg-second: #4D585A;
  --bg-second-2:#6E7A7B;
  --bg-color-2:#DE9857;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Regular.otf');
}

body{
    font-family:  'Proxima Nova';
}
.mauto {
    margin-left: 10px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

#contenido_actividad1 {
    max-width: 1223px;
}

#actividad-1 .ficha-texto {
    vertical-align: middle;
    display: table-cell;
    z-index: 1008;
    font-size: 18px;
    position: relative;
    left: 0px;
    font-size: 16px;
    color: white;
    height: 12px;
}

#actividad-1 ul#grupoA li.list-group-item {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    display: table;
    background: transparent;
    height: 25px;
    width: 70%;
    position: relative;
    border: 2px dashed #ad123c;
    margin: 10px 0px 33px 0px;
    z-index: 1006;
    border-radius: 20px;
}

#actividad-1 ul#grupoA li.active:after {
    background: #ad123c;
}

#actividad-1 ul#grupoA li.active {
    color: #fff;
}

@media (max-width: 767px) {
    #actividad-1 ul#grupoA li {
        min-width: 100px;
        width: 100%;
    }

    #actividad-1 ul#grupoA li.list-group-item {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    #actividad-1 ul#grupoA li {
        width: 100px;
        height: 100px;
    }
}

#actividad-1 ul#grupoB li {
    color: #393A72;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
    display: table;
    background-color: transparent;
    background-size: 10px;
    background-repeat: repeat;
    width: 100%;
    height: 26px;
    position: relative;
    border: 2px dashed transparent;
    margin: 10px 0px 38px 0px;
    z-index: 1006;
    border-radius: 10px;
    list-style: none;
    
}

@media (max-width: 767px) {
    #actividad-1 ul#grupoB li {
        padding-left: 10px;
        font-size: 18px;
    }
}

#actividad-1 ul#grupoB li:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: solid #020940 2px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

#actividad-1 ul#grupoB li.active:after {
    background: #ABB3AD;
}

#actividad-1 ul#grupoB li.active {
    color: #fff;
}

#actividad-1 ul#grupoA {
    padding-left: 0px;
    max-width: 200px;
    /* margin: auto; */
}

#actividad-1 ul#grupoA li.list-group-item:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    
    border-radius: 10px;
    
    background-image: url(../img/r1-contenedorC.png);
    background-repeat: repeat;
    box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: -1;
    color: #000;
}
#actividad-1 ul#grupoA li.list-group-item1:after{
    background-color: #020940;
    border: solid #020940 2px;
}
#actividad-1 ul#grupoA li.list-group-item2:after{
    background-color: #020940;
    border: solid #020940 2px;
}
#actividad-1 ul#grupoA li.list-group-item3:after{
    background-color: #020940;
    border: solid #020940 2px;
}
#actividad-1 ul#grupoA li.list-group-item4:after{
    background-color: #C64B8B;
    border: solid #C64B8B 2px;
}
#actividad-1 ul#grupoA li.list-group-item5:after{
    background-color: #3B3283;
    border: solid #3B3283 2px;
}


#actividad-1 ul#grupoA li.active:after {
    /* background: #ABB3AD; */
}

#actividad-1 ul#grupoA li.active {
    color: #fff;
}

#actividad-1 ul#grupoB {
    padding-left: 0px;
}

#actividad-1 .link-line {
    background-color: #3B3283;
}

.ficha-texto p {
    display: list-item;
    text-align: left;
    margin: 0;
    color: black;
    font-size: 12px;
    line-height: 12px;
}

/*encabezado*/
.info_actividad{
    background: #540F23;
    border-radius: 20px;
    padding: 20px;
}
.pt-3{
    padding-top: 1.5em;
}
.pt-5{
    padding-top: 2.5em;
}
.pl-3{
    padding-left: 1.5em;
}
.pr-3{
    padding-right: 1.5em;
}
.pl-1{
    padding-left: 0.5em;
}
.pr-1{
    padding-right: 0.5em;
}
.shadow{
    box-shadow: 0 0.5rem 1rem rgb(0 0 21 / 50%) !important;
}
/*encabezado*/
.principal{
    display: inline-block;
}
.secundario{
    width: 38%;display: inline-block;
}
.terciario{
    width: 58%;display: inline-block;
}
.div-img{
    display: inline-block;max-width: 100%;
}
.imagen{
    width: 116px;
    height: 116px;
    display: inline-block;
}

.texto_header{
    font-size: 17px;
    display: inline-block;
    width: 50%;
}
.texto_header b{
    color: #540F23;
    padding-left: 1px;
    padding-right: 1px;
}
.linea_blue{
    height: 5px; 
    background: #540F23;
}


/*ejercicio*/
.circulo_icon{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fffefe;
    border-radius: 50%;
    top: 15px;
    left: -44px;
    box-shadow: 1px 0px 11px -2px black;
}
.img-100{
  width:100% ;
}

.d-flex{
    display: flex;
}

.img_cont{
    max-width: 70%;
}


/* custom scrollbar */
.modal-dialog-scrollable .modal-content{
    overflow: inherit;
    padding-bottom: 18px;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.tranparente{
  background: transparent;
  border: none;
}

.principal{
  border-radius: 40px;
  background: #ffffff;
}

.cabeza{
  background: var(--bg-color-dark);
  height: 70px;
  border-radius: 40px 40px 0px 0px;
}
/*.circulo_modal{
  height: 125px;
  width: 125px;
  background: white;
  border-radius: 50%;
  border: solid 5px black;
  position: relative;
  top: -60px;
  text-align: center;
}*/
.circulo_modal{
  height: 125px;
  width: 125px;
  /*background: white;
  border-radius: 50%;
  border: solid 5px black;*/
  position: relative;
  top: 15px;
  text-align: center;
}

.boton_inc{
    background: #009490;
    color: white;
    border-radius: 10px;
    font-size: 22px;
}
.btnsModal{
    background: #181363;
    color: white;
    font-weight: bold;
    height: 50px;
}



.ban_naranja{
    background: #FF7F00;
    padding: 10px 30px;
    border-radius: 10px;
}
  
.boton_calificar{
background-color: #8DC640;
font-weight: bold;
    color: black;
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    width: 110px;
    box-shadow: 3px 2px 5px -1px;
}
