.txtblue{
    color: #181363 !important;
}

.azul_banner{
    background: #0187C4;
    padding: 20px 25px;
    height: 120px;
}

.targetas_ejemplo_blue{
    background: #181363;padding: 14px;border-radius: 15px;height: 111px;
}
.targetas_ejemplo_orange{
    background: #FF7F00;padding: 14px;border-radius: 15px;height: 111px;
}

.circle_ejemplo{
    width: 90px;height: 90px;background: white;border-radius: 50%;
}

.boton_ejemplo{
    background: #181363;
    padding: 10px;
    border-radius: 20px;
    height: 115px;
}

.banner_ejemplo{
    background: white;border: solid #181363;padding: 20px;height: 288px;border-radius: 30px;
}

.close_banner{
    background: #181363;height: 30px;width: 30px;border-radius: 50%;color: white;position: relative;top: -29px;left: 28px;
}


.border-with-dot {
    position: relative;
    padding-right: 20px;
    border-bottom: 2px solid #181363;
    width: fit-content;
}
  
.border-with-dot::after {
    content: '';
    position: absolute;
    top: 100%;
    right: -7px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #181363;
}


.verde_banner{
    background: #8DC640;
    border-radius: 30px;
    height: 300px;
}


.bola{
    height: 15px;
      width: 15px;
      background:#FF7F00;
      border-radius: 50%;
      margin-left: 5px;
}
.bolaActive{
    background: #8DC640 !important;
}

.bola_2{
    height: 15px;
      width: 15px;
      background:#181363;
      border-radius: 50%;
      margin-left: 5px;
}
.bolaActive2{
    background: #FF7F00 !important;
}

.bac_1{
    background-image: url(../../assets/img_ova/bac_1.png);
    background-size: 200px 350px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.cuadro_ban{
    background: #0187C4;height: 280px;
    padding: 10px;
}


.conection{
    background: white;height: 55px;width: 90%;border-radius: 1px 10px 10px 1px;
}
.conection_2{
    background: #FF7F00;height: 55px;width: 90%;border-radius: 1px 10px 10px 1px;
}
.conection_3{
    background: #181363;height: 55px;width: 90%;border-radius: 1px 10px 10px 1px;
}
.conectionActive{
    background: #FF7F00 !important;
    width: 100% !important;
    border-radius: 0px !important;
}
.conectionActive2{
    background: #0187C4 !important;
    width: 100% !important;
    border-radius: 0px !important;
}
.conectionActive3{
    background: #FF7F00 !important;
    width: 100% !important;
    border-radius: 0px !important;
}

.text-orange{
    color: #FF7F00;
}

.ban_cuadro{
    background: #FF7F00;height: 280px;
}
.ban_cuadro_2{
    background: #181363;height: 280px;
}
.ban_cuadro_3{
    background: #FF7F00;height: 280px;
}

.title_white{
    background: white;padding: 10px;border-radius: 5px;z-index: 1;position: relative;
}

.circulo_tittle{
    height: 90px;width: 90px;background: white;border-radius: 50%;margin-top: -14px;
}

.bot_blus{
    background: #181363;
    height: 70px;
    border-radius: 10px;
    padding: 8px;
}

.boton_azulOsc{
    background: #181363;height: 56px;padding: 1px 25px;border-radius: 10px;
}

.closes{
    background: #181363;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
}

.ban_verd{
    background: #8DC640;
    padding: 30px;
    margin-left: -12px;
    height: 253px;
    border-radius: 1px 20px 20px 1px;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 34px solid #181363;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    cursor: pointer;
}

.conclusion{
    background: white;
    padding: 15px 30px;
    border-radius: 30px;
    height: 190px;
}

.aqua{
    background: #0187C4;
    padding: 30px;
    border-radius: 30px;
}

.uni_bande{
    background: #130b65;
    height: 50px;
}

.headers_uni{    
    background-color: white;
    width: 28px;
    height: 40px;
    border-radius: 1px 50px 50px 1px;
}


/*acordeon horizontal*/
.acordeon { width:100%; overflow:hidden; margin:10px auto; color:#474747;; padding:10px; }

.acordeon section:hover {background: #0187C4;}

.flecha_acor{
  position: relative;
  font-size: 18px;
  color: black;
  margin-left: 6px;
}

.horizontal section h2 { 
  position:relative; 
  top:0px;
  z-index: 8;
} 
.cordeon-columna{
  height: 100%;
  width: 100%;
}
.radius-50{
  border-radius: 50%;
}
.radius-1{
  border-radius: 15px;
}

#acordeon_1_1{
    background-color: #0187C4 !important;
}
#acordeon_1_2{
    background-color: #8DC640 !important;
}
#acordeon_1_3{
    background-color: #181363 !important;
}
/*acordeon horizontal fin */


.circulo_blanco{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
}

.azu_osc{
    background-color: #130b65;
    border-radius: 30px;
    padding: 30px;
    height: 300px;
}

.boton_verde{
    background-color: #C5E0B4;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 1;
    border: 2px dashed #8DC640;
}
.boton_verdeActive{
    background-color: #8DC640 !important;
}
.linea{
    height: 3px;
    background-color: #8DC640;
    margin-top: -40px;
}

.bote_blue{
    background: #8DC640;
    padding: 10px 30px;
    border-radius: 30px;
    height: 150px;
}

.naranja{
    background-color: #FF7F00;
    border-radius: 30px;
    height: 200px;
    padding: 10px 30px;
}

.bote_verde{
    background-color: #8DC640;
    border-radius: 30px;
    padding: 20px 40px;
    padding-bottom: 40px;
}

.circle_borde{
    height: 100px;
    width: 100px;
    margin: -45px 60px;
    border-radius: 50%;
    background: white;
    border: solid 4px #8DC640;
}

.mini_circle{
    width: 40px;
    height: 40px;
    background: #8DC640;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.corp_mini{
    background: #8dc640;
    height: 30px;
    margin-left: -10px;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
}

.mini_circle2{
    width: 40px;
    height: 40px;
    background: #020940;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.corp_mini2{
    width: 100%;
    padding-left: 20px;
    height: 260px;
    margin-left: -20px;
    border-radius: 1px 25px 25px 25px;
    background: #020940;
}

.triangulo2 {
    width: 0;
    height: 0;
    border-left: 13px solid #181363;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    transform: rotate(90deg);
}

.closes_mini{
    background-color: white;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    color: #020940;
}

.target_hed{
    background: #020940;height: 50px;border-radius: 20px;    margin-top: 45px;
}
.target_ball{
    width: 90px;height: 90px;border-radius: 50%;background: #020940;border: solid white;margin-top: -47px;
}

.triangulo3{
    width: 0;
    height: 0;
    border-left: 13px solid #181363;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    transform: rotate(90deg);
}

.target_corpo{
    background: #8DC640;
    height: 200px;
    border-radius: 1px 1px 30px 30px;
}

.blancos{
    background: white;
    width: 40px;
    border-radius: 15px 15px 1px 1px;
}
.orange{
    background: #FF7F00;
    height: 90px;
}
.blu_osc{
    background: #020940;
    height: 90px;
}

.close_carr5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #130b65;
    color: white;
    position: relative;
    z-index: 1;
}

.bann_orange{
    background: #FF7F00;
    height: 180px;
    padding: 10px;
}
.bann_blueOsc{
    background: #020940;
    height: 180px;
    padding: 10px;
}

.head_activiti{
    background: #FF7F00;
    padding: 10px;
    border-radius: 10px;
}



/* -------------------- */
/* --------RECURSO # 1 BARRA DESLIZADORA HORIZONTAL---------*/
.inputDiv,.inputDiv2 {
	width: 100%;
	display:block;
	color:#aaa;
	position:relative;
}
.output{display:none; width:40px; text-align:center;}
 
input[type='range'] {
	display: inline-block;
	width: 80%;
	background: none;
}
 
input[type='range']:focus {
	outline: none;
	background: none;
}
 
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: none;
}
 
input[type=range]::-webkit-slider-thumb {
	background-image: url('../../assets/img_ova/img/scroll-btn.png');
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
  transform: rotate(0deg);
	border: none;
	margin-top: -23px;
	cursor: pointer;
}
 
input[type=range]::-moz-range-thumb {
	background-image: url('../../assets/img_ova/img/scroll-btn.png');
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
  transform: rotate(0deg);
	border: none;
	cursor: pointer;
}
 
input[type=range]::-ms-thumb {
	background-image: url('../../assets/img_ova/img/scroll-btn.png');
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
  transform: rotate(0deg);
	border: none;
	cursor: pointer;
}
 
input[type=range]::-webkit-slider-runnable-track {
	background: #181363;
	height: 3px;
	margin-bottom: 20px;
}
 
input[type=range]:focus::-webkit-slider-runnable-track {
	outline: none;
}
 
input[type=range]::-moz-range-track {
	background: #181363;
	height: 3px;
	margin-bottom: 20px;
}
 
input[type=range]::-ms-track {
	background: #181363;
	height: 3px;
	margin-bottom: 20px;
	cursor: pointer;
}
 
input[type=range]::-ms-fill-lower {
	background: #181363;
	cursor: pointer;
}
   
input[type=range]::-ms-fill-upper {
	background: #181363;
	cursor: pointer;
}

.bg_azul_claro{
    background-color: #0187C4;
}
  /*scroll fin*/


  .bg-azul_oscuro{
    background-color: #181363;
  }


  .container {
    display: flex;
}

.circle-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #181363;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    
}

.line {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}



/*RECURSO #19 */
.barroco {
    width: 3px;
    background: #181363;
    height: 250px;
    margin-left: 14px;
  }
  .btn_barrocoActive {
    background: #8DC640 !important;
  }
  .btn_barroco {
    height: 30px;
    width: 30px;
    background: #181363;
    border-radius: 50%;
    font-weight: bold;
    color: black;
    margin-bottom: 80%;
    z-index: 1;
    cursor: pointer;
    padding: 15px;
    margin-top: 26px;
  }
  .ban_blue {
    background: #8DC640;
    padding: 1px 19px 20px 20px;
    border-radius: 15px;
    height: 213px;
  }
  
  
  .triangulo {
    width: 0;
    height: 0;
    border-right: 26px solid #D4751D;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    /* left: 25px; */
    top: 9px;
    position: relative;
    margin-bottom: 55%;
  }
  
  .text-verde-claro{
    color: #00615C;
  }
  
  .circulo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#00615C;
    color: white;
  
    position: absolute;
  }
  
  .circuloActivo{
    background-color: #A94393;
  }
  
  .bg-verdeClaro{
    background-color: #8DC640;
  }
  
  /* FIN RECURSO #19 */

  .bg-naranja{
    background-color: #FF7F00;
  }


  .bg-slide-blue{
    background-color: #0187C4;
  }
  .circle_blue{
    width: 60px;
    height: 60px;
    background-color: #0187C4;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    
  }
  .circle_blue2{
    width: 45px;
    height: 45px;
    background-color: #0187C4;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    
  }


  /*RECURSO #20 SUBMENÚ BOTONES A LA DERECHA */
.ban_piel{ 
	background: #0187C4; 
  padding: 25px 25px; 
  border-radius: 20px; 
  height: 306px; 
} 
.boton_cuadro{ 
    width: 80px;
    background: white;
    height: 70px;
    border-radius: 10px;
    margin-left: 10px;
} 
.boton_cuadroActive{ 
background: #0187C4; 
} 




.img-activiRecogida{
    position: relative;
      top: 15px;
      width: 12% !important;
      margin-left: 0% !important;
  }
  
  .circulo_border{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 3px #FBE5D6;
    margin-top: -64px;
    background: #FF7F00;
    margin-bottom: 20px;
  }
  
  .bacCircle{
    background: #FF7F00;
    margin-top: 18px;
    border-radius: 10px;
  }
  
  .content_targetB{
    width: 66%;
    border: solid #FF7F00;
    border-radius: 1px 1px 20px 20px;
    padding: 20px;
  }


  
.negblue{
    background: #020940;height: 210px;
  }
  .bluewhite{
    background: #0187C4;padding: 20px 30px;
  }
  
  .grises{
    width: 90px;
    height: 15px;
    background: #A6A6A6;
    margin-left: 10px;
    cursor: pointer;
  }
  .grisesActive1{
    background-color:  #0187C4 !important;
  }
  .grisesActive2{
    background-color: #FF7F00 !important;
  }
  .grisesActive3{
    background-color: #181363 !important;
  }
  .grisesActive4{
    background-color: #020940 !important;
  }




  
.cont-flechas {
    background: white;
    border: 2px solid #181363;
  }
  .fechas {
    width: 0;
    height: 0;
    border-left: 15px solid #181363;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: -8px;
    margin-top: 3px;
  }


  .circle_green{
    width: 80px;
    height: 80px;
    background-color: #8DC640;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    
  }

  .circle_white{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    /* border: 3px solid white; */
    position: absolute;
    
  }

  .circle_azul{
    width: 80px;
    height: 80px;
    background-color: #0187C4;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    
  }

  .circle_naranja{
    width: 80px;
    height: 80px;
    background-color: #FF7F00;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    
  }


  .fechasBtnDer{
    width: 0;
    height: 0;
    border-left: 25px solid #181363;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-left: -8px;
    margin-top: 3px;
}

.fechasBtnIzq {
  width: 0;
  height: 0;
  border-right: 25px solid #181363;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-left: -8px;
  margin-top: 3px;
}

.bg-modelo{
  background-image: url(../../assets/img_ova/img/modelos.png);
  background-size: 500px;
  background-repeat: no-repeat;
  
}

/* --card giratoroas */
.cards_3{
	width: 100%;
	height: 200px;
	position: absolute;
	transform-style: preserve-3d;
	transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border-radius: 6px;
	box-shadow: 0 6px 16px rgba(0,0,0,0.15);
	cursor: pointer;
	border-radius: 60px;
}
  
.cards_3 .front22, .back22{
	position:  absolute;
	width:  100%;
	height:  250px;
	backface-visibility:  hidden;
	border-radius:  33px;
	/* display flex: ; */
	justify-content:  center;
	align-items:  center;
	/* font-smoothing:  antialiased; */
	color:  black;
}
.front22{
	background: #8DC640;
}
.container-flip2{
	width: 100%;
  height: 270px;
	position: relative;  
	perspective: 800px;
	border-radius: 60px;
}
.back22{
  transform: rotateY(180deg);
  background: #0187C4;
  padding: 20px;
}
.iconito{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: #DE83BC;
}

.flipped{
  transform: rotateY(180deg);
}
/* --card giratoroas fin */


/*RECURSO #20 SUBMENÚ BOTONES A LA DERECHA */
.ban_piell{ 
	/* background: #0187C4;  */
  padding: 25px 25px; 
  border-radius: 20px; 
  height: 340px; 
} 
.boton_cuadro2{ 
    width: 80px;
    background: #0187C4;
    height: 70px;
    border-radius: 10px;
    margin-left: 10px;
} 
.boton_cuadroActive2{ 
background: #181363; 
} 



.ban_oscuro{
  background-color: #181363;
  padding: 20px 165px 20px 20px;
  border-radius: 20px;

}




/*RECURSO #19 */
.barroco-2 {
  width: 3px;
  background: #181363;
  height: 360px;
  margin-left: 14px;
}
.btn_barroco2Active {
  background: #8DC640 !important;
}
.btn_barroco2 {
  height: 30px;
  width: 30px;
  background: #181363;
  border-radius: 50%;
  font-weight: bold;
  color: black;
  /* margin-bottom: 80%; */
  margin-bottom: 54px;
  z-index: 1;
  cursor: pointer;
  padding: 15px;
  /* margin-top: 26px; */
}
.ban_blue2 {
  /* background: #8DC640; */
  /* padding: 1px 19px 20px 20px; */
  border-radius: 15px;
  /* height: 213px; */
}


.triangulo2 {
  width: 0;
  height: 0;
  border-right: 26px solid #D4751D;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  /* left: 25px; */
  top: 9px;
  position: relative;
  margin-bottom: 55%;
}

.text-verde-claro2{
  color: #00615C;
}

.circulo2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#00615C;
  color: white;

  position: absolute;
}

.circulo2Activo{
  background-color: #A94393;
}

.bg-verdeClaro2{
  background-color: #8DC640;
}

/* FIN RECURSO #19 */


.corpo {
 
  width: 80%;
  /* height: 70px; */
  padding: 15px 15px 15px 39px;
  border-radius: 0px 14px 14px 0px;
  margin-inline-start: 10px;
}
.frente {
  background: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  /* border: solid #872C2A 10px; */
  /* margin-left: 21px; */
}

.frente-verde1{
  border: solid #8DC640 4px;
}
.frente-verde2{
  border: solid #009490 10px;
}

.bg-verde1{
  background-color: #8DC640;
  
}
.bg-verde2{
  background-color: #009490;
}


.btn-br-blue{
  border: 3px solid #181363;
  color: #181363;
  background-color: white;
  position: relative;
  z-index: 10;
}

.btn-br-blue-active{
  /* border: 3px solid #181363; */
  color: white;
  background-color: #FF7F00;
  position: relative;
  z-index: 10;
  border: 0;
}


.corpoV2 {
 
  width: 80%;
  /* height: 70px; */
  padding: 15px 15px 15px 39px;
  border-radius: 14px 14px 14px 14px;
  margin-inline-start: 10px;
}
.frenteV2 {
  background: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  /* border: solid #872C2A 10px; */
  /* margin-left: 21px; */
}

.frente-verde1V2{
  border: solid #181363 4px;
}


.bg-verde1V2{
  background-color: white;
  
}




.btn-modalV2{
  /* border: 3px solid #181363; */
  color: white;
  background-color: #0187C4;
  position: relative;
  z-index: 10;
}

.btn-modal2-active{
  /* border: 3px solid #181363; */
  color: white;
  background-color: #8DC640;
  position: relative;
  z-index: 10;
  border: 0;
}

.lista-modal li::marker {
  color: #8DC640;
  font-size: 1.5em;
}

.rectangulo-blue{
  width: 65px;
  height: 24px;
  background-color: #181363;
  /* border-radius: 12%; */
  
}


/*RECURSO #19 */
.barroco-3 {
  width: 3px;
  background: #FF7F00;
  height: 455px;
  margin-left: 14px;
}
.btn_barroco3Active {
  background: #0187C4 !important;
}
.btn_barroco3 {
  height: 30px;
  width: 30px;
  background: #FF7F00;
  border-radius: 50%;
  font-weight: bold;
  color: black;
  /* margin-bottom: 80%; */
  margin-bottom: 137px;
  z-index: 1;
  cursor: pointer;
  padding: 15px;
  /* margin-top: 26px; */
}
.ban_blue2 {
  /* background: #8DC640; */
  /* padding: 1px 19px 20px 20px; */
  border-radius: 15px;
  /* height: 213px; */
}




/* FIN RECURSO #19 */